@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
height: 100vh;
}

.topnav {
overflow: hidden;
margin: auto;
text-align: center;
position: relative;
}
.topnav a {
display: inline-block;
font-family: 'Poppins', sans-serif;
color:#ada452;
text-align: center;
padding: 12px 14px;
text-decoration: none;
font-size: 15px;
text-transform: uppercase;
font-weight: 600;
}
.topnav a:hover {
letter-spacing: 2px;
}
  /* .topnav a::before{
   content: '';
   position: absolute;
   height: 4px;
   width: 10px;
   background: #ec4646;
   border-radius: 8px;
   }*/
.topnav .active {
color: #ec4646;
letter-spacing: 2px;
}
.topnav .active:hover{
letter-spacing: 3px;
}
.topnav .icon {
display: none;
}
.dropdown {
float: left;
overflow: hidden;
}
.dropdown {
font-size: 17px;
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
}
.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
.dropdown-content a {
float: none;
color: #ada452;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}
.dropdown-content a:hover {
background-color: #ddd;
color: #ada452;
}
.dropdown:hover .dropdown-content {
display: block;
}
main{
display: flex;
justify-content: center;
align-items: center;
}
main h2{
font-weight: 300;
margin-bottom:2rem;
position: relative;
color:#ec4646;
text-align: center;
}
.container{
width: 450px;
min-height: 40vh;
padding: 2rem;
border-radius: 8px;
}
textarea {
width: 100%;
padding: 40px 20px;
margin: 20px 0;
font-size: 0.9rem;
display: inline-block;
border-radius: 4px;
box-sizing: border-box;
}
form{
display: flex;
flex-direction: column;
}
.input-field{
position: relative;
}
.input-field:first-child{
margin-bottom: 1.5rem;
}
form .input-field input{
outline: none;
font-size: 0.9rem;
width: 100%;
color: black;
padding: 8px;
}
input placeholder{
color: rgba(0, 0, 0, 0.8);
margin-right: 10px;
}
form input[type="submit"] {
margin-top: 10px;
padding: 0.4rem;
background: #ec4646;
cursor: pointer;
color:white;
font-size: 0.9rem;
font-weight: 300;
border-radius: 4px;
transition: all 0.3s ease;
border:none;
}
form input[type="submit"]:hover {
letter-spacing: 0.5px;
background:rgba(236,70,70, 0.8);
color:white;
outline: none;
border: none;
}
.contato {
margin-top: 1rem;
background-color: black;
width: 100%;
}
.contato .social-field{
padding: 1rem;
border-radius: 4px;
cursor: pointer;
margin-top: 1rem;
float: right;
}
.contato .social-field a{
text-decoration: none;
color:white;
background: #ec4646;
padding:5px;
border-radius: 100px;
}
.contato .social-field a:hover{
background:rgba(236, 70, 70, 0.7);
}
.contato .social-field a i {
margin: 0.1rem;
width: 15px;
}
#img img{
margin-left: 1rem;
}
@media screen and (max-width: 600px) {
.topnav a:not(:first-child), .dropdown {
display: none;
}
.topnav a.icon {
float: right;
display: block;
}
}

@media screen and (max-width: 600px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
position: absolute;
right: 0;
top: 0;
}
.topnav.responsive a {
float: none;
display: block;
text-align: left;
}
.topnav{
text-align: left;
}
.topnav.responsive .dropdown {float: none;}
.topnav.responsive .dropdown-content {position: relative;}
.topnav.responsive .dropdown {
display: block;
width: 100%;
text-align: left;
}
}
@media only screen and (max-width:768px){
.box2{
width: 40%;
}
section#container p{
font-size: 15pt;
}
}

@media only screen and (max-width:600px) {
/* For mobile phones: */

#img img{
width: 80px;
height: 80px;
}
}
