@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
background:#FFFAF0;

}
#cabecalho{
color:#ada452;
text-align: center;
margin-top: 50px;
margin-bottom:30px;
padding: 40px;
}

h1{
font-size: 36pt;
font-family: 'Lobster', cursive;
color:rgba(236,70,70, 0.9);
position: relative;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
#cabecalho h2{
margin-top: 10px;
margin-bottom: 10px;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

h1#cardapio{
font-size: 30pt;
color:rgba(236,70,70, 0.8);
text-decoration: none;
}

.topnav {
overflow: hidden;
width: 96%;
margin: auto;
text-align: center;
position: relative;
}
.topnav a {
display: inline-block;
font-family: 'Poppins', sans-serif;
color:#ada452;
text-align: center;
padding: 12px 14px;
text-decoration: none;
font-size: 15px;
text-transform: uppercase;

}
.topnav a:hover {
text-decoration: overline #ada452;
}

.topnav .active {
color:#ada452;
}
.topnav .active:hover{
color:#b4a734;
}

.topnav .icon {
display: none;
}

.dropdown {
float: left;
overflow: hidden;
}

.dropdown {
font-size: 17px;
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
float: none;
color: #ada452;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}
.dropdown-content a:hover {
background-color: #ddd;
color: #ada452;
}

.dropdown:hover .dropdown-content {
display: block;
}

section#container{
position: relative;
display: block;
background-color: rgba(173, 164, 82, 0.7);
box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
padding: 40px;
width: 50%;
margin: auto;
margin-bottom: 50px;
border-radius: 30px 0 30px 0px;
}
section#container p{
color:white;
text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
text-align: justify;
font-size: 20px;
font-family: 'Poppins', sans-serif;

}
.circle{
position: absolute;
height: 100%;
width: 100%;
background: #ec4646;
top:0;
left: 0;
clip-path: circle(22.2% at 92% 9%);
z-index: -1;
}

#container{
margin: auto;
width: 100%;
display: flex;
margin-top: 80px;
align-items: center;
position: relative;
justify-content: center;
animation-name: move;
animation-duration:500ms;
animation-delay: 250ms;
}
#circle2{
position: absolute;
height: 100%;
width: 100%;
background:rgba(173, 164, 82, 0.7);
top:0;
left: 0;
clip-path: circle(18.4% at 29% 1%);
z-index: -1;
}
#circle1{
position: absolute;
height: 100%;
width: 100%;
background: rgba(236, 70, 70, 0.9);
top:0;
left: 0;
clip-path: circle(25.4% at 0 48%);
z-index: -1;
}
#box1{
width: 50%;
text-align: center;
padding:30px;

}
#box1 h2{
color: rgba(173, 164, 82);
text-shadow: 1px 1px 1px rgb(255, 255, 255);
font-family: 'Poppins', sans-serif;

}
#box2{
width: 50%;
text-align: center;

}
#box2 img{
border-radius: 100%;
box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.4);
}

.container{
margin: auto;
width: 90%;
display: flex;
flex-flow: row wrap;
margin-top: 80px;
}
.box{
margin: 3px;
width: 24%;
background:#FFFACD;
padding:20px;
}

.contato {
margin-top: 1rem;
background-color: black;
width: 100%;
}
.contato .social-field{
padding: 1rem;
border-radius: 4px;
cursor: pointer;
margin-top: 1rem;
float: right;

}
.contato .social-field a{
text-decoration: none;
color:white;
background: #ec4646;
padding:5px;
border-radius: 100px;
}
.contato .social-field a:hover{
background:rgba(236, 70, 70, 0.7);
}
.contato .social-field a i {
margin: 0.1rem;
width: 15px;

}
#img img{
margin-left: 1rem;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
.topnav a:not(:first-child), .dropdown {
display: none;
}
.topnav a.icon {
float: right;
display: block;
}
}

@media screen and (max-width: 600px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
position: absolute;
right: 0;
top: 0;
}
.topnav.responsive a {
float: none;
display: block;
text-align: left;
}
.topnav{
text-align: left;
}
.topnav.responsive .dropdown {float: none;}
.topnav.responsive .dropdown-content {position: relative;}
.topnav.responsive .dropdown {
display: block;
width: 100%;
text-align: left;
}
}
@media only screen and (max-width:768px){
.box2{
width: 40%;
}
section#container p{
font-size: 15pt;
}
}

@media only screen and (max-width:600px) {
/* For mobile phones: */

header h2{
font-size: 20px;
}

h1#cardapio{
font-size:20pt;
}
.box2{
width: 80%;
margin: auto;
}
.box2 p{
font-size: 20px;
}

section#container{
border-bottom-left-radius: 100px;
padding: 40px;
box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2);
width: 90%;
margin: auto;
padding: 40px;

}
#container{
margin: auto;
width: 100%;
display: flex;
flex-flow: row wrap;
margin-top: 40px;
align-items: center;
justify-content: center;
}
#box1 h1{
font-size: 30px;
}
#box1 h2{
font-size: 20px;
}

#box1{
color: white;
text-align: center;
padding:20px;
border-radius: 0 20px;
width: 100%;

}
#box2{
width: 100%;
color: white;
text-align: center;
padding:20px;
width: 100%;
}
}
@keyframes move{
from {
opacity: 0;
transform: translateX(-35%);
}
to {
opacity: 1;
transform: translateX(0%);
}
}